<!----------------------------------------------- Footer Section ----------------------------------------------->
<footer id="footercolor" class="pt-3 mt-auto siteContent">
  <div class="container col-md-12">
    <div class="row text-center align-items-center pb-2">
      
<!----------------------------------------------- Start List --------------------------------------------------->
      <div class="col-md-4">
        <ul class="list-group list-unstyled">
          <li class="d-none d-md-block mb-2 font-weight-bold text-uppercase">Getting Started</li>
          <a href="/" class="liremoveLink"><li>Home</li></a>
          <a href="/items" class="liremoveLink"><li>Browse</li></a>
          <a href="/signup" class="liremoveLink d-none d-md-block"><li>Sign Up</li></a>
        </ul>
      </div>
      
<!----------------------------------------------- Contact List --------------------------------------------------->
      <div class="col-md-4">
        <ul class="list-group list-unstyled">
          <li class="d-none d-md-block mb-2 font-weight-bold text-uppercase">Connect</li>
          <a href="/faq" class="liremoveLink d-none d-md-block"><li>FAQ</li></a>
          <a href="/updates" class="liremoveLink d-none d-md-block"><li>Updates</li></a>
          <a href="/aboutus" class="liremoveLink "><li>Contact Us</li></a>
        </ul>
      </div>
      
<!----------------------------------------------- Follow List --------------------------------------------------->
      <div class="col-md-4">
        <ul class="list-group list-unstyled">
          <li class="d-none d-md-block mb-2 text-uppercase font-weight-bold">Follow Us</li>
          <li><a href="#" class="socialIcons facebook d-none d-md-block"><i class="fab fa-facebook-square fa-2x"></i></a></li>
          <li><a href="#" class="socialIcons twitter d-none d-md-block"><i class="fab fa-twitter-square fa-2x"></i></a></li>
        </ul>
      </div>
      
      
<!----------------------------------------------- Horizontal List--------------------------------------------------->     
      <div class="container">
        <hr class="bg-white">
      </div>
      
<!----------------------------------------------- Copyright---------------------------------------------------------->      
      <div class=" container col-md-12 footerbot">
        <div class=" pb-1 d-flex justify-content-center list-unstyled align-items-start">
          <p class="mb-0 "><i class="fas fa-copyright mr-2"></i>2019 Copyright Kingsville Connection | 
            <a href="/termsofuse" class="liremoveLink ">Terms </a>  -  <a href="/privacy" class="liremoveLink"> Privacy</p>
            </div>
          </div>
          
        </div>
        
      </div>
      
    </footer>
    
<!----------------------------------------------- JQuery---------------------------------------------------------->  
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<!----------------------------------------------- Popper JS---------------------------------------------------------->  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<!----------------------------------------------- Bootstrap---------------------------------------------------------->  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
  </html>