<!-- Includes The Header ejs -->
<% include ./partials/header %>


<!--==========================================Title======================================================-->
<div class="container text-center text-white p-2 my-3">  
  <i class="fas fa-crown fa-2x mb-4 text-center"></i>
  <h3 class="text-center">About Us</h3>
</div>

<!--=============================================================================================================-->
<div class="container  pageAnimate">
  
  <div class="row">
    
    <div class="col-md-12 col-sm-6 ">
      
      <div class="card mb-4 cardindexColor border-0 shadow-sm">                 <!-- Card That Holds Infomation About Item-->
        
        <div class="card-body">                                               <!-- Card Body -->
        
        <h3>Team: KingTech</h3>
        
        <br>
        <h4>Alfredo Garza</h4>
        <p>Degree: Computer Science</p>
        
        <h4>Kevin Reyes</h4>
        <p>Degree: Computer Science</p>
        
        <h4>Justin Contreras</h4>
        <p>Degree: Computer Science</p>
        
        <h4>Francicso Geyne</h4>
        <p>Degree: Computer Science</p>
          </div>
          
        </div>
        
      </div>
      
      
    </div>

  </div>


  
<!-- Includes The Footer ejs -->
<% include ./partials/footer %>