<!-- Includes The Header ejs -->
<% include ./partials/header %>


<!--==========================================Title======================================================-->
<div class="container text-center text-white p-2 my-3">  
  <i class="fas fa-crown fa-2x mb-4 text-center"></i>
  <h3 class="text-center">FAQ</h3>
</div>

<!--=============================================================================================================-->
<div class="container pageAnimate">
  
  <div class="row">
    
    <div class="col-md-12 col-sm-6 ">
      
      <div class="card mb-4 cardindexColor border-0 shadow-sm">                 <!-- Card That Holds Infomation About Item-->
        
        <div class="card-body">                                               <!-- Card Body -->
        
        <h4>What services does Kingsville Connection provide?</h4>
        <p>It is a website for students to be able to post and exchange university materials all year long.</p>
        
        <h4>How much does it cost to use Kingsville Connection?</h4>
        <p>It is free to use Kingsville Connection.</p>
        
        <h4>I am unable to post an item, review, or comment?</h4>
        <p>You are able to sign up for the website but must have the site code to get all the features. You can either enter the code by finding it on campus or
        email the team to give you fully access. You must email the team with a valid TAMUK email address.</p>
        
        <h4>Can I use Kingsville Connection on any other University Campus?</h4>
        <p>At the moment Kingsville Connection can only be used on the TAMUK campus. If there is more demand, in the future, then our service would be expanded.</p>
        
        <h4>What emails are accepted with Kingsville Connection?</h4>
        <p>Currently only students and faculty members that are enrolled/work at TAMUK can use Kingsville Connection.</p>
        
        <h4>How do I make a new account on Kingsville Connection?</h4>
        <p><a href="/login">Make A New Account</a></p>
        
        <h4>Can I sign of for Kingsville Connection if I was a former student?</h4>
        <p>Yes, you still sign up for Kingsville Connection.</p>
        
        <h4>How long are my items up on the website?</h4>
        <p>Items will be up on the website all semester long and be removed at the end of the school semester.</p>
        
        <h4>How do I deactivate my account?</h4>
        <p>Go to your account settings and click on the “delete” button</p>
        
        <h4>Where are the safe public transaction locations?</h4>
        <p><a href="/safety">Safe Locations</a></p>
        
        <h4>Can I block someone that is following my profile?</h4>
        <p>Currently, there is no feature to block or unfollow a profile. We recommend that users be careful on who they chose to follow.</p>
    
            
          </div>
          
        </div>
        
      </div>
      
      
    </div>

  </div>


  
<!-- Includes The Footer ejs -->
<% include ./partials/footer %>