<!-- Includes The Header ejs -->
<% include ./partials/header %>


<!--==========================================Title======================================================  -->
<div class="container text-center text-white p-2 my-3">  
  <i class="fas fa-crown fa-2x mb-4 text-center"></i>
  <h3 class="text-center">Updates</h3>
</div>
<!--=============================================================================================================-->
<div class="container pageAnimate">
  
  <div class="row">
    
    <div class="col-md-12 col-sm-6 ">
      
      <div class="card mb-4 cardindexColor border-0 shadow-sm">                 <!-- Card That Holds Infomation About Item-->
        
        <div class="card-body">                                        <!-- Card Body -->
        
        <h3>April 14-28, 2019</h3>
        <ul>
            <li>Fix two bugs present with delete accounts and posts</li>
            <li>Add animations</li>
            <li>Improve front-end design of website</li>
            <li>Add filter to search bar</li>
            <li>Add new fields to database and limeit user choice</li>
            <li>Improve webpages design</li>
            <li>Add images to safe locations</li>
            <li>Add New Student Code Field</li>
        </ul>
        
        <h3>April 1-14, 2019</h3>
        <ul>
            <li>Add author field</li>
            <li>Add FAQ web-page</li>
            <li>Add update web-page</li>
            <li>Add links to front-page and footer</li>
            <li>Imorove structure of code and deisgn</li>
        </ul>
      
            
          </div>
          
        </div>
        
      </div>
      
      
    </div>

  </div>


  
<!-- Includes The Footer ejs -->
<% include ./partials/footer %>